@use "../base/variables" as v;
@use "../base/mixins" as m;

.alert {
	&__aceptButton {
		@include m.button(v.$crimson);
		font-size: 1.4rem;
		margin: 2rem 0;
	}

	&__cancelButton {
		@include m.button(v.$black);
		font-size: 1.4rem;
		margin: 2rem 0 2rem 2rem;
	}
}
