@use "../base/variables" as v;
@use "../base/mixins" as m;

.hero {
	@include m.fadeIn(2000ms);

	margin-top: 8rem;
	min-height: 36rem;
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&__keyword {
		font-size: 0.8rem;
		font-weight: 100;
	}

	&__mainValueProposition {
		color: v.$black;
		font-weight: 700;
		font-size: 3.6rem;

		@include m.tablet {
			font-size: 4rem;
		}
	}

	&__suportSubText {
		color: v.$black;
		font-weight: 400;
	}
}
