@use "../base/variables" as v;
@use "../base/mixins" as m;

.invitation {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	border-top: 1px solid v.$lightGray;
	border-bottom: 1px solid v.$lightGray;
	padding: 1rem;

	@include m.tablet {
		padding: 0;
		border: none;
		flex-direction: row;
		gap: 1rem;
	}

	&__button {
		@include m.button(v.$black);
	}
}
