@use "../base/variables" as v;
@use "../base/mixins" as m;

.item {
	display: flex;
	flex-direction: column;
	position: relative;
	height: calc(((100vw / 4) * 3) + 10rem);

	@include m.tablet {
		height: 100%;
	}

	&__img {
		position: absolute;
		top: 4rem;
		width: 100vw;

		@include m.tablet {
			position: relative;
			top: unset;
		}
	}

	&__controls {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;

		@include m.tablet {
			background-color: rgba(0, 0, 0, 0.3);
			position: absolute;
			top: 0;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__title {
		color: v.$black;
		font-weight: 400;
		font-size: 1.4rem;
		margin-left: 1rem;

		@include m.tablet {
			color: v.$white;
			position: absolute;
			top: 0;
			z-index: 99;
		}
	}

	&__footer {
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;

		@include m.tablet {
			position: absolute;
			bottom: 1rem;
			width: 100%;
		}
	}

	&__iconButtons {
		display: flex;
		gap: 1rem;
	}

	&__likeButton {
		@include m.iconButton(v.$crimson);

		&--active {
			@include m.activeIconButton(v.$crimson);
		}
	}

	&__dislikeButton {
		@include m.iconButton(v.$gray);

		&--active {
			@include m.activeIconButton(v.$gray);
		}
	}

	&__downloader {
		display: flex;
		color: v.$gray;
		font-weight: 400;
		font-size: 1.4rem;
		align-items: center;
	}

	&__downloaderLabel {
		max-height: 3.2rem;
		border-radius: 4px;
		background-color: v.$white;
		border-top: 1px solid v.$lightGray;
		border-left: 1px solid v.$lightGray;
		border-bottom: 1px solid v.$lightGray;

		border-radius: 5px 0 0 5px;
		padding: 0.8rem 1rem;
	}

	&__downloaderButton {
		@include m.iconButton(v.$gray);
		border-radius: 0 5px 5px 0;
	}

	&__buyButton {
		@include m.button(v.$black);

		@include m.tablet {
			background-color: v.$white;
			color: v.$gray;
		}
	}

	&__icon {
		font-size: 1.8rem;
	}
}
