@use "../base/variables" as v;
@use "../base/mixins" as m;

.item {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background: v.$white;
	position: relative;
	overflow: visible;
	box-shadow:
		0 1px 3px rgba(0, 0, 0, 0.12),
		0 1px 2px rgba(0, 0, 0, 0.24);

	&__downloaded {
		border: solid 2px v.$success;
	}

	&__img {
		border-radius: 0.5rem;
		transition: 0.3s ease;
	}

	&__img:hover {
		transform: translateY(-0.6rem);
		cursor: pointer;
		box-shadow: v.$crimson 0px 8px 10px -4px;
	}

	&__title {
		font-weight: 900;
		font-size: 1.2rem;
		line-height: 1.5;
	}

	&__footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 1rem 1rem 1rem;
		border-top: 1px solid v.$lightGray;
	}

	&__likeButton {
		@include m.iconButton(v.$crimson);

		&--active {
			@include m.activeIconButton(v.$crimson);
		}
	}

	&__dislikeButton {
		margin-left: 1rem;
		@include m.iconButton(v.$gray);

		&--active {
			margin-left: 1rem;
			@include m.activeIconButton(v.$gray);
		}
	}

	&__downloadSection {
		width: 80%;
		display: flex;
	}

	&__downloadButtons {
		width: 80%;
		display: flex;
		flex-direction: column;
	}

	&__downloadButton {
		background: v.$white;
		padding: 0;
		border-style: none;
		color: v.$purple;
		font-weight: 700;
		margin: 0 auto;
		align-items: center;
		transition: 0.3s ease-in-out;

		&:hover {
			transform: translateY(-0.6rem);
			cursor: pointer;
			box-shadow: v.$purple 0px 8px 8px -4px;
		}
	}

	&__downloadSpinner {
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__spinner {
		@include m.spinner(0.2rem, 2.4rem, v.$purple);
	}

	&__buyButton {
		@include m.button(v.$purple);
		margin: 0 auto;
		padding: 1rem 2rem;
		align-items: center;
	}

	&__icon {
		// margin-left: 1rem;
		font-size: 2rem;
	}
}
