@use "../base/variables" as v;
@use "../base/mixins" as m;

.navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;

	&__main {
		display: flex;
		justify-content: space-between;
		background-color: v.$white;
		width: 100%;
		padding: 1rem 2rem;

		@include m.monitor {
			max-width: 144rem;
		}
	}

	&__logo {
		max-width: 20rem;
		max-height: 4rem;
		display: flex;
		gap: 0.8rem;
		align-items: center;

		font-weight: 700;
		font-size: 2rem;
	}

	&__logoIcon {
		height: 4rem;
	}

	&__controls {
		display: flex;
		align-items: center;
	}

	&__user {
		display: flex;
		align-items: center;
		border-radius: 5px;
		font-size: 1.2rem;
	}

	&__userName {
		margin: 0 2rem;
		color: v.$gray;
		font-weight: 700;
	}

	&__loginButton {
		@include m.button(v.$black);
	}

	&__alert {
		display: flex;
		flex-direction: column;
		width: 100%;
		// background-color: lighten($color: v.$alert, $amount: 20);
		background-color: v.$white;
		padding: 1rem 2rem;
		color: v.$gray;

		@include m.tablet {
			flex-direction: row;
		}

		@include m.monitor {
			max-width: 144rem;
		}
	}

	&__alertMessage {
		margin-right: 1rem;
	}

	&__alertAction {
		display: flex;
		text-decoration: none;
		color: v.$black;
		font-weight: 700;
		transition: 0.3s ease-in-out;
		cursor: pointer;

		&:hover {
			cursor: pointer;
			box-shadow: v.$black 0px 4px 4px -4px;
		}
	}

	&__alertSpinner {
		margin-left: 2rem;
		@include m.spinner(1px, 2rem, v.$black);
	}
}
