@use "../base/variables" as v;
@use "../base/mixins" as m;

.pagination {
	height: 4rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.2rem;
	margin: auto;

	@include m.tablet {
		margin: 0;
		font-size: 1.4rem;
	}

	&__button {
		width: 2rem;
		font-size: 2rem;
		color: v.$gray;
		transition: 0.3s ease-in;

		&:hover {
			cursor: pointer;
			color: v.$black;
		}
	}

	&__batch {
		width: 4rem;
		border-style: none;
		background-color: v.$background;
		cursor: pointer;
		color: v.$gray;
		transition: 0.3s ease-in-out;

		&:hover {
			cursor: pointer;
			color: v.$black;
		}
	}

	&__activeBatch {
		width: 4rem;
		height: 4rem;
		text-justify: center;
		border-style: none;
		background-color: v.$black;
		cursor: pointer;
		color: v.$white;
		border-radius: 4px;
		padding: 0.8rem 1rem;
		transition: 0.3s ease-in-out;

		@include m.tablet {
			padding: 1.2rem;
		}
	}
}
