// Fonts
$textFont: "Roboto", sans-serif;
$headersFont: "Oleo Script", cursive;

// Media queries sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$monitor: 1440px;

// $crimson: #ca1f6d;
$crimson: #ce4257;
$navyBlue: #134598;
$skyBlue: #509bd7;
$purple: #745ecb;
$black: #111111;
$gray: #767676;
$lightGray: #d1d1d1;
$white: #ffffff;
$background: #ffffff;

$danger: #cf4e46;
$alert: #f0d662;
$success: #6b8d62;

$spacing: 2rem;
