// Fonts
$textFont: "Roboto", sans-serif;
$headersFont: "Oleo Script", cursive;

// Media queries sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$monitor: 1440px;

$crimson: #ca1f6d;
$navyBlue: #134598;
$skyBlue: #509bd7;
$purple: #745ecb;
$black: #010101;
$gray: #505050;
$lightGray: #c4c4c4;
$white: #f8f8f8;
$background: #fdfdfd;

$danger: #cf4e46;
$alert: #cfaf1d;
$success: #4ccf27;

$spacing: 2rem;
