// Fonts
$mainFont: "Roboto", sans-serif;
$logoFont: "Oleo Script", cursive;

// Media queries sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$monitor: 1440px;

$crimson: #ca1f6d;
$navyBlue: #174189;
$skyBlue: #509bd7;
$purple: #745ecb;
$black: #010101;
$gray: #2c2c2c;
$white: #fdfdfd;

$spacing: 2rem;
